<beans:beans xmlns="http://www.springframework.org/schema/security"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	<http pattern="/login.xhtml" security="none" />
	<http pattern="/negado.xhtml" security="none" />
	<http pattern="/javax.faces.resource/**" security="none" />
	<http pattern="/reset/**" security="none" />
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/**" access="hasRole('ADM')"/> 
		<access-denied-handler error-page="/negado.xhtml" />
		<form-login login-page="/login.xhtml" authentication-failure-url="/login.xhtml?error=true" />
		<logout logout-success-url="/" logout-url="/j_spring_security_logout" invalidate-session="true"/>
		<!-- 
		<intercept-url pattern="/tecnico/**" access="hasAnyRole('ADM','TEC')"/>
		 -->
	</http> 
	
	
	<authentication-manager>
		<authentication-provider>
			<!--    
			<user-service>
				<user name="admin" authorities="ADM" password="123"/>
			</user-service>
			-->
			<jdbc-user-service data-source-ref="dataSource" 
				users-by-username-query="SELECT U.LOGIN AS USERNAME, U.SENHA AS PASSWORD, P.SITUACAO AS ENABLE FROM TBUSUARIO U, TBPESSOA P WHERE U.IDPESSOA = P.IDPESSOA AND U.LOGIN=?"
				authorities-by-username-query="SELECT U.LOGIN AS USERNAME, 'ADM' AS AUTHORITY FROM TBUSUARIO U WHERE  U.LOGIN=?"
			 />
		</authentication-provider>
	</authentication-manager>
	
	<beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
		<beans:property name="url" value="jdbc:postgresql://localhost:5432/scve" />
		<beans:property name="driverClassName" value="org.postgresql.Driver" />
		<beans:property name="username" value="postgres" />
		<beans:property name="password" value="postgres" />
	</beans:bean>
</beans:beans>

